In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('gurgaon_properties_cleaned_v2.csv')

In [3]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,super_built_up_area,built_up_area,carpet_area,study room,servant room,store room,pooja room,others,furnishing_type,luxury_score
0,flat,umang winter hills,sector 77,0.86,6408.0,1342.0,Super Built up area 1342(124.68 sq.m.),2,2,2,...,1342.0,NaN,NaN,0,0,0,0,0,1,79
1,flat,pivotal devaan,sector 84,0.41,7032.0,583.0,Super Built up area 583(54.16 sq.m.)Built Up a...,2,2,2,...,583.0,565.0,483.0,0,0,0,0,0,1,23
2,house,dlf city plots,sector 26,17.30,38734.0,4466.0,Plot area 502(419.74 sq.m.),6,7,3+,...,NaN,4518.0,NaN,1,1,1,1,0,1,124
3,house,sector 38 rwa,sector 38,4.30,28782.0,1494.0,Plot area 166(138.8 sq.m.)Built Up area: 165 s...,9,9,3+,...,NaN,165.0,164.0,0,0,0,1,1,1,41
4,house,independent,sector 92,1.80,7627.0,2360.0,Built Up area: 2360 (219.25 sq.m.),4,5,0,...,NaN,2360.0,NaN,0,0,0,0,0,2,0

In [5]:
df.shape

(3803, 23)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3803 entries, 0 to 3802
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_type        3803 non-null   object
 1   society              3802 non-null   object
 2   sector               3803 non-null   object
 3   price                3785 non-null   float64
 4   price_per_sqft       3785 non-null   float64
 5   area                 3785 non-null   float64
 6   areaWithType         3803 non-null   object
 7   bedRoom              3803 non-null   int64
 8   bathroom             3803 non-null   int64
 9   balcony              3803 non-null   object
 10  floorNum             3784 non-null   float64
 11  facing               2698 non-null   object
 12  agePossession        3803 non-null   object
 13  super_built_up_area  1915 non-null   float64
 14  built_up_area        1733 non-null   float64
 15  carpet_area          1944 non-null   float64
 16  study room           3803 non-null   int64
 17  servant room         3803 non-null   int64
 18  store room           3803 non-null   int64
 19  pooja room           3803 non-null   int64
 20  others               3803 non-null   int64
 21  furnishing_type      3803 non-null   int64
 22  luxury_score         3803 non-null   int64
dtypes: float64(7), int64(9), object(7)
memory usage: 683.5+ KB

In [7]:
df.duplicated().sum()

126

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,super_built_up_area,built_up_area,carpet_area,study room,servant room,store room,pooja room,others,furnishing_type,luxury_score
0,flat,umang winter hills,sector 77,0.86,6408.0,1342.0,Super Built up area 1342(124.68 sq.m.),2,2,2,...,1342.0,NaN,NaN,0,0,0,0,0,1,79
1,flat,pivotal devaan,sector 84,0.41,7032.0,583.0,Super Built up area 583(54.16 sq.m.)Built Up a...,2,2,2,...,583.0,565.0,483.0,0,0,0,0,0,1,23
2,house,dlf city plots,sector 26,17.30,38734.0,4466.0,Plot area 502(419.74 sq.m.),6,7,3+,...,NaN,4518.0,NaN,1,1,1,1,0,1,124
3,house,sector 38 rwa,sector 38,4.30,28782.0,1494.0,Plot area 166(138.8 sq.m.)Built Up area: 165 s...,9,9,3+,...,NaN,165.0,164.0,0,0,0,1,1,1,41
4,house,independent,sector 92,1.80,7627.0,2360.0,Built Up area: 2360 (219.25 sq.m.),4,5,0,...,NaN,2360.0,NaN,0,0,0,0,0,2,0

## Property Type